.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.subTitle {
    color: #FCFCFC;
    font-family: "ABC Gravity Condensed", sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    z-index: 100;
    text-wrap: nowrap;
}

.smallTitle {
    width: 100%;
    text-align: center;
    color: #FCFCFC;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    letter-spacing: 0.48px;
    word-wrap: break-word
}

#toggle-container{
    /* animation: fadeOut 1s ease forwards; */
}

.center-text-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 容器高度设置为视口高度 */
    text-align: center; /* 文本居中 */
    padding: 20px; /* 防止文本紧贴边框 */
    /* animation: fadeIn 1s ease forwards; */
}

.center-text-container p {
    max-width: 400px; /* 根据需要调整最大宽度 */
    margin: auto; /* 自动外边距实现居中 */
}
